<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="login.css" />
    <script src="login.js"></script>
  </head>
  <body>
    <div class="container1">
      <img src="logo.png" alt="" class="logo" />
      <div class="login-container">
        <div class="login-card">
          <h1>Login</h1>
          <form name="login form" onsubmit="return false">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" />
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
            <button type="submit" class="btn" onclick="verify_credentials()">
              Login
            </button>
          </form>
          <div id="error" style="margin-top: 10%; color: red"></div>
        </div>
      </div>
    </div>
  </body>
</html>
